:root {
  --gray-color: #3d3539;
  --white-color: #ffffff;
  --gradient-divider: linear-gradient(to right, #ff9800, #f44336);
  --gradient-fancy-background: linear-gradient(to right top, #232030, #37202d, #422522, #402f19, #323b1e);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}